<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oliveoa.view"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 开启设备访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 移除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!-- 查询快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 允许程序从非系统拨号器里输入电话号码 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 允许程序写入外部存储，如SD卡上写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.oliveoa.common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabLayoutBottomActivity"
            android:allowBackup="true"
            android:exported="true"
            android:label="@string/home_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".myapplication.AddApplicationActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".LoadingViewActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <!-- <activity android:name=".myapplication.BaseActivity" /> -->
        <activity
            android:name=".myapplication.MyApplicationActivity"
            android:allowBackup="true"
            android:exported="true"
            android:supportsRtl="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.OvertimeActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.LeaveActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.BusinessActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.MeetingActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.DimissionActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.RegularWorkerActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.AdjustPostActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.RecruitmentActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.GoodsActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.OvertimeInfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.SelectPersonApprovingActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.BusinessInfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".workschedule.MyWorkActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".workschedule.ProtocolWorkActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".workschedule.WorkAllocationActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".workschedule.LeadershipApprovalActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.WaitActivity1"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".mine.PersonalDetailsActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".mine.PersonalDetailsEditActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".mine.PasswordEditActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".mine.AboutsUsActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".mine.AdviseActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".workschedule.ApprovalWorkActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".workschedule.WorkAllocationObjectSelectActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.MyApprovalActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.OvertimeUndisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.OvertimeDisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.BusinessUndisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.BusinessDisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.LeaveDisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.LeaveUndisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.LeaveInfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.ApprovedInfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.ApprovalAdviseActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".MessageListActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.GoodsListActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.AdjustPostInfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.DimissionInfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.GoodsInfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.MeetingInfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.RecruitmentInfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.RegularWorkerInfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.MeetingDisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.MeetingUndisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.DimissionDisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.DimissionUndisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.RegularWorkerDisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.RegularWorkerUndisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.AdjustPostDisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.AdjustPostUndisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.RecruitmentDisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.RecruitmentUndisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.GoodsDisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".approval.GoodsUndisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".meetingmanagement.MyMeetingActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".meetingmanagement.MyMeetingInfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.MainApplicationActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".note.MyNoteActivity"
            android:exported="true"
            android:theme="@style/NoteTheme" />
        <activity
            android:name=".note.EditNoteActivity"
            android:exported="true"
            android:theme="@style/NoteTheme" />
        <activity
            android:name=".notice.AddNoticeActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".notice.NoticeInfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".addressbook.DepartmentEmployeeActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity android:name=".approval.NoticeDisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme"/>
        <activity android:name=".approval.NoticeUndisposedActivity"
            android:exported="true"
            android:theme="@style/HomeTheme"></activity>
        <activity
            android:name=".myapplication.DepartmentSelectActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".myapplication.DutySelectActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
    </application>

</manifest>